[user]
	name = Marc-Andre Bourassa
	email = boumar04@gmail.com
[color]
	branch = auto
	diff = auto
	interactive = auto
	status = auto
[alias]
	st = status -s
	co = checkout
	ci = commit
	br = branch
	gr = log --graph --full-history --all --color --pretty=tformat:"%x1b[31m%h%x09%x1b[32m%d%x1b[0m%x20%s%x20%x1b[33m(%an)%x1b[0m"
	dlb = !git branch -d $(git branch --merged=master | grep -v master) && git fetch --prune

[core]
	precomposeunicode = true
	editor = code --wait
	autocrlf = true
	symlinks = true
